{% include "header.html" %}

<div class="container">
  <h3>Monthely Archives</h3>
  <hr align="left" id="title-line"/>
  {% for i in monthly_counts %}
  <u><a data-toggle="collapse"href="#demo-{{ loop.index }}">{{ i[0] }}({{ i[1] }})</a></u>
  <div id="demo-{{ loop.index }}" class="collapse">
    {% for item in all_items %}
    {% if item.date[slice(0,7)] == i[0] %}
      <div class="monthly-record">
        <u id="item-line"><a href="{{ url_for('show_item', id=item.id) }}">{{ item.date }}</a></u>
      </div>
    {% endif %}
    {% endfor %}
  </div>
  <br>
  {% endfor %}
</div>

{% include "footer.html" %}

