{% include "header.html" %}



    <div class="container-fluid quiz-section">

      <h1>Question {{ quiz_count }}</h1>
      <br>
      <button type="button" id="flip-btn">
        Flip Card   <i class="fa-solid fa-arrow-right-arrow-left"></i>
      </button>

      {# FLIP CARD AREA #}
      <div class="card quiz-card">
        <div id="back" class="cardBack">
          <div class="container-fluid back-content">
            <h6 class="answer-meaning">meaning:   {{item_selected.meaning}}</h6>
            <hr />
            <h6 class="answer-situation">example:   {{item_selected.example}}</h6>
            <hr />
            <form action="{{ url_for('quiz_page', quiz_count=quiz_count , btn='next' , correct_count=correct_count, wrong_count=wrong_count, wrong_items=wrong_items)}}" method="post">
                <button class="icon-button" id="sound-btn"><i class="fa-solid fa-volume-high fa-2xl"></i></button>
                <button class="icon-button" type="submit" id="next-btn"><i class="fa-sharp fa-solid fa-forward fa-2xl"></i></button>
            </form>
          </div>
        </div>
        <div id="front" class="container-fluid cardFront">
          <div class="container-fluid front-content">
            <h2 class="quiz-title">{{item_selected.word_phrase}}</h2>
            <hr />
            <div class="box" id="yes-no-form">
                <form id="yes-form" action="{{ url_for('quiz_page', quiz_count=quiz_count, id=item_selected.id , word_phrase=item_selected.word_phrase, btn='yes' ,correct_count=correct_count, wrong_count=wrong_count, wrong_items=wrong_items)}}" method="post">
                    <button class="icon-button" type="submit"><i class="fa-sharp fa-solid fa-circle-check fa-2xl" id="quiz-icon-yes"></i></button>
                </form>
                <form id="no-form" action="{{ url_for('quiz_page', quiz_count=quiz_count, id=item_selected.id , word_phrase=item_selected.word_phrase, btn='no', correct_count=correct_count, wrong_count=wrong_count, wrong_items=wrong_items)}}" method="post">
                    <button class="icon-button" type="submit"><i class="fa-solid fa-circle-xmark fa-2xl" id="quiz-icon-no"></i></button>
                </form>
            </div>
          </div>
        </div>
      </div>
      {# END OF FLIP CARD AREA #}

      <br>
      <h3>Score: {{ correct_count }} / {{ quiz_count }}</h3>
      <br>
      <a data-toggle="collapse" href="#review" role="button" class="btn btn-outline-secondary btn-sm">Check Review</a>
      <div id="review" class="collapse">
        <u><p>Item ID</p></u>
        {% for id in wrong_items %}
          <div class="review-record">
            <a href="{{ url_for('show_item', id=id, route='/quiz_page') }}">{{ id }}</a> {# Currently showing item ids #}
          </div>
        {% endfor %}
      </div>

    </div>

   <script>
     {# FOR THE ACTION OF FLIP BUTTON #}
     const front = document.getElementById('front')
     const back = document.getElementById('back')
     const flip_btn = document.getElementById('flip-btn')

     function handleFlip() {
       front.classList.toggle('flipped')
       back.classList.toggle('flipped')
     }

     flip_btn.addEventListener('click', handleFlip)
   </script>



{% include "footer.html" %}